*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "TT Lakes";
    src: url(./font/TTLakes-Bold.woff);
    font-weight: 600;
}
@font-face {
    font-family: "TT Lakes";
    src: url(./font/TTLakes-ExtraBold.woff);
    font-weight: 800;
}
@font-face{
    font-family: "TT Lakes";
    src: url(./font/TTLakes-Medium.woff);
    font-weight: 500;
}
@font-face{
    font-family: "TT Lakes";
    src: url(./font/TTLakes-Regular.woff);
    font-weight:400;
}
 body{
    min-width: 320px;
    margin: 0;
    padding: 0; 
    font-family: "TT Lakes";
 }
 h1{
    font-weight: 600;
    font-size:28px;
    line-height: 40px;
    letter-spacing: -0.6px;
 }
 p{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing:0.2px;
 }

 label{
    font-weight:500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
 }

 .add-text{
    display: none;
 }

 .free-1{
    display: none;
 }

 .container-add{
    display: none;
 }

.content__text--Description{
    display: flex;
    max-width: 288px;
    max-height: 90px;
}

.first-text{
    display: block;
}

.second-text .third-text{
   overflow: hidden;
}


/*pad*/
@media (max-width:430px)
{
}
/**/
@media (max-width:1120px) {
}