*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "TT Lakes";
    src: url(./font/TTLakes-Bold.woff);
    font-weight: 600;
}
@font-face {
    font-family: "TT Lakes";
    src: url(./font/TTLakes-ExtraBold.woff);
    font-weight: 800;
}
@font-face{
    font-family: "TT Lakes";
    src: url(./font/TTLakes-Medium.woff);
    font-weight: 500;
}
@font-face{
    font-family: "TT Lakes";
    src: url(./font/TTLakes-Regular.woff);
    font-weight:400;
}
    /* text style*/
 body{
    min-width:320px;
    margin: 0;
    padding: 0; 
    font-family: "TT Lakes";
    background-color: #f8f8f8;
 }
 h1{
    font-weight: 600;
    font-size:28px;
    line-height: 40px;
    letter-spacing: -0.6px;
 }
 span{
    font-family: "TT lakes";
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing:0.2px;
 }

 button{
    background-color: white;
    border: none ;
    font-weight:500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
 }

a{
    color: #7e7e82;
    text-decoration: none;
    font-weight:500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
}



/*all style*/

.content{
    padding:16px;
}

.web-page{
    display: flex;
    min-width:320px;
    min-height: auto;
    flex-direction: column;
}

.line{
    display: flex;
    min-width:2px;
    min-height:32px;
    background-color: #eaeaea;
    margin:20px;
}

.container{
    width: 100%;
    height: auto;
    display:flex;
    align-items: center;
    background-color: white;

}

.add-button{
    display: flex;
    justify-content: flex-end;
    flex:1;
    gap: 16px;
}

.list__service{
    display: flex;
    gap:34px;
    overflow-x:auto;
    scrollbar-width: none;
    margin-left:16px;
    padding: 0;
}

.list__service--button{
    display: flex;
    padding:6px;
    border-radius:6px;
    border: 2px solid transparent;
    white-space: nowrap;
}

.list__service--button:hover,
.list__service--button:focus{
    background-color: white;
    border-radius:6px;
    border-color:#b8ffec;
    padding: 6px;
}

.second-gray-line{
    display: flex;
}

.add{
    display: inline-flex;
    width: 40px;
    height: 40px;
    margin:16px;
}

.content__button--next{
    display: flex;
    margin:16px;
    background-color: #f8f8f8;
    font-family: "TT Lakes";
    font-weight:500;
    font-size: 16px;
    line-height:24px;
    letter-spacing:-0.2px;
    
}




.title{
    display: flex;
    padding-left:20px;
    border-left:4px solid #41f6d7;
    margin-bottom:32px;
}

/*logo and img*/
.header__navigation--logo{
    width:96.55px;
    height: 50.81px;
    margin-left:17px;
}

.content__img{
    display: flex;
    width: 100%;
    height: auto;
}
/*display none*/
.first-gray-line,
.navigation--add,
.add-button-text{
    display: none;
}
.content__table-display,
.content__desktop-display{
    display: none;
}

/*pad*/
@media(min-width:768px) and ((max-width:1120px)){

    .first-gray-line{
        display: flex;
    }

    .second-gray-line{
    display: flex;

    }

    .navigation--add{
        display: flex;
    }

    .navigation__add--container{
        display: flex;
        flex: 10;
        justify-content: flex-end;
        gap:16px;
    }

    .add-button{
    display: flex;
    justify-content: flex-end;
    }


    .content{
        display: flex;
    }

    .content__img{
        display: flex;
        width:50%;
    }

    .content__mobail-text{
        display: flex;
        margin: 0;
    }
/*display none*/
    .content__table-display{
        display: block;
    }

    .content__button--next{
        margin-top:10px;
    }
  
    .add-button-text{
    display: none;
    }


}
/*desktop*/
@media (min-width:1120px) {
   

    .add-button{
        padding-right: 36px;
    }
        
    .add-button-text{
        display: flex;
        
    }

    .add-header__navigation{
        display: inline-flex;
        align-items: center;
        gap:8px;
    }

    .list__service{
        display: flex;
        flex-wrap: wrap;
        
    }

    header{
        display: inline-flex;
        flex-direction: row-reverse;

    }

    .title{
        display: inline-flex;
        white-space: nowrap;
        margin-top: 30px;
    }

    .container{
        background-color: #f8f8f8;

    }

    button{
        background-color: #f8f8f8;
    }


    .content__desktop-display{
        display: block;
    }

    .content{
        display: flex;
        padding:16.22px;
        gap:36px;
    }

    .content__img{
        width: 50%;
    }
    /*display none*/

    .content__mobail-text{
        margin: 0;
    }

    .navigation__add--container,
    .header__navigation,
    .header__navigation--logo,
    .line{
        display: none;
    }
    
}